<p id ="project" class="display-4">{{project}}</p>

<div class="container col-md-6" id="mg">

    <div class="row">

   <div class="card" style="width: 18rem;">
   <div class="card-body">
    <h5 class="card-title">{{ct}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{st}}</h6>
    <p class="card-text">{{ui}}</p>
    <a href="https://xd.adobe.com/view/07d4c0e7-7238-4d80-9793-13bdc012ad77-5287/" class="card-link">{{pl}}</a>
    
  </div>
</div>
  <div class="card" style="width: 18rem;">
   <div class="card-body">
    <h5 class="card-title">{{ct1}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{st1}}</h6>
    <p class="card-text">{{ui1}}</p>
    <a href="https://github.com/Dilpreet1996/bsnlAppForPortofolio" class="card-link">{{pl}}</a>
    
  </div>
</div>

  <div class="card" style="width: 18rem;">
   <div class="card-body">
    <h5 class="card-title">{{ct2}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{st2}}</h6>
    <p class="card-text">{{ui2}}</p>
    <a href="https://github.com/Dilpreet1996/collegemanagementsystem" class="card-link">{{pl}}</a>
    
  </div>
</div>
</div>


